@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style for contenteditable placeholder */
[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block;
  @apply text-gray-400;
}
